<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <label for="usr">Name:</label>
      <input #nameInput placeholder="Name">
    </div>
    <div class="form-group">
      <label for="pwd">Color:</label>
      <input #colorInput placeholder="Color">
    </div>
    <div class="form-group">
        <label for="pwd">Price:</label>
        <input #priceInput placeholder="Price">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="postProduct(nameInput.value, colorInput.value, priceInput.value);  nameInput.value=''; colorInput.value=''; priceInput.value=''; ">Add Product</button>
    </div>
    </form>
</div>

<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" (keyup)="onNameKeyUp($event)">
    </div>
    <div class="form-group">
        <label for="usr">Color:</label>
        <input type="text" (keyup)="onNameKeyUp($event)">
    </div>
    <div class="form-group">
        <label for="usr">Price:</label>
        <input type="text" (keyup)="onPriceKeyUp($event)">
    </div>
    <div class="form-group">
      <!-- <button type="button" class="btn btn-primary" (click)="getProduct()">Get Product</button> -->
    </div>

    <div class="form-group">
      <div *ngIf="found">
        <span>{{price}}</span>
      </div> 
    </div>
  </form>
  <div *ngIf="message" class="alert alert-success">
    <strong>Success!</strong>{{message}}
  </div>


  <table class="table">
    <tr>
      <th (click)="onChangeOrderColumn('id')">Id</th>
      <th (click)="onChangeOrderColumn('name')">Name</th>
      <th (click)="onChangeOrderColumn('color')">Color</th>
      <th (click)="onChangeOrderColumn('price')">Price</th>
      <th>Λειτουργίες
        <select (change)="onChange($event.target.value)">
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
        </select>   

        <select (change)="onChange($event.target.value)">
            <option>asc</option>
            <option>desc</option>
        </select>   
      </th>

    <tr *ngFor="let pr of data">
      <td>{{pr.id}}</td>
      <td>{{pr.name }}</td>
      <td>{{pr.color}}</td>
      <td>{{pr.price | currency}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)=onSelectedProduct(pr)>Επεξεργασία</button>
        <button type="button" class="btn btn-primary" (click)="deleteProduct(pr.id)">Delete</button>
      </td>
    </tr>
</table>


<ul class="pagination">
  <li (click)="getCurentPage(1)"><a>1</a></li>
  <li (click)="getCurentPage(2)"><a>2</a></li>
  <li (click)="getCurentPage(3)"><a>3</a></li>
  <li (click)="getCurentPage(4)"><a>4</a></li>
</ul>

<div *ngIf="selectedProduct" class="container">
    <form class="form-inline">
        <div class="form-group">
            <label for="usr">ID:</label>
            <input #idEditInput placeholder="" value="{{selectedProduct.id}}">
          </div>
      <div class="form-group">
        <label for="usr">Name:</label>
        <input #nameEditInput placeholder="" value="{{selectedProduct.name}}">
      </div>
      <div class="form-group">
        <label for="pwd">Color:</label>
        <input #colorEditInput placeholder="Color" value="{{selectedProduct.color}}">
      </div>
      <div class="form-group">
          <label for="pwd">Price:</label>
          <input #priceEditInput placeholder="Price" value="{{selectedProduct.price}}">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="editProduct(idEditInput.value, nameEditInput.value, colorEditInput.value, priceEditInput.value);  nameInput.value=''; colorInput.value=''; priceInput.value=''; ">Edit Product</button>
      </div>
      </form>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>

</div>